
.img-logo{
    vertical-align: baseline;
    width: 200px;
}

li.nav-item {
    font-family: "Montserrat", sans-serif;
    margin: 0px 25px;
    font-size: 15px;
    color: #2b2b2b;
}

a.nav-link:hover {
    color: #758FEB; ;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #758FEB !important; ;
}

.container.hero {
    margin-top: 2%;
}

a.btn.btn-outline-light.ms-lg-3.btn-sign {
    color: white;
    background-color: #758FEB;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 9px;
}
a.btn.btn-outline-light.ms-lg-3.btn-sign:hover {
    background-color: #b4c5ff;
}

a.btn.btn-outline-light.ms-lg-3.btn-login {
    color: #758FEB;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 9px;
    border: 1px solid #758FEB;
}

a.btn.btn-outline-light.ms-lg-3.btn-login:hover {
    background-color: #e8edff;
    border: 1px solid #758FEB;
}



/* Animación fade-in desde la derecha hero /home */
  .fade-in-right {
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInRight 1.2s ease-out forwards;
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


  h1.display-5.fw-bold.title-hero {
    font-family: "Montserrat", sans-serif;
    color: #758FEB;
    font-size: 55px;
    padding-right: 11%;
}

  .txt-dest{
    color: #2b2b2b;
  }

p.lead.mb-4.bajada-hero {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 25px;
    padding-top: 20px;
    color:#2b2b2b;
}

a.btn.btn-primary.btn-lg {
    color: white;
    background-color: #758FEB;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 40px;
    border-radius: 100px;
    border: none;
    transition: transform .3s ease;
}

a.btn.btn-primary.btn-lg:hover {
    background-color: #607ace;
       transform: translateY(-6px);
}

a.btn.btn-outline-primary.btn-second.btn-lg {

    color: #758FEB;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid #4b62b5;
    transition: transform .3s ease;
    margin-left: 30px;
}

a.btn.btn-outline-primary.btn-second.btn-lg:hover{

    background-color: #e8edff;
       transform: translateY(-6px);

}

/*BANNER CTA HOME*/

.row.align-items-center.rounded-4 {
    background-color: #FAF6FF;
    padding: 30px;
}

.col-md-6.rounded-3.box-banner-text {
    padding: 50px;
}

h2.fw-bold.mb-3.title-banner-home {
    font-family: 'Montserrat';
    font-size: 36px;
        color: #758feb;
}

p.mb-4.bajada-banner-home {
    font-family: 'Montserrat';
    padding-top: 13px;
    padding-bottom: 10px;
}

span.text-banner-dest {
    color: #758FEB;
}


p.mb-4.bajada-service-home{
    font-family: 'Montserrat';
    padding-top: 3px;
    padding-bottom: 10px;

    

}


/*CARD-SERVICE-HOME*/

h3.card-title.fw-bold.title-card-service {
    font-family: 'Montserrat';
    font-size: 18px;
    padding: 14px 0px;
    color: #758fec;
}

p.card-text {
    font-family: 'Montserrat';
    font-size: 14px;
}



a.btn.btn-primary.btn-card-s {
    background: #faf7ff;
    color: #6a7cde;
    border: none;
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 5px 25px;
    border-radius: 100px;
    margin: 10px 0px;
}

a.btn.btn-primary.btn-card-s:hover {
    background: #dae3ff;
}

.card.h-100.shadow-sm.card-border-service {
    border-radius: 20px;
    background-color: white;
    border: none;
}

.card-img-top.card-img-s{
        border-radius: 20px 20px 0px 0px;
}



/* FOOTER */

.footer-hm {
    background-color: #FAF6FF !important;
    padding-top: 53px;
    padding-bottom: 10px;
}
footer.foote-h.pt-4.pb-2{
    background-color: #FAF6FF;
}
p.text-footer {
    font-family: 'Montserrat';
    padding-top: 7px;
    font-size: 15px;
    padding-bottom: 10px;
}

.col-md-4.mb-3.contact-footer {
    display: grid;
}
a.link-txt-footer {
    color: #768fee;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 15px;
}
h4.title-footer {
    font-family: 'Montserrat';
    color: #768fee;
    font-weight: 500;
    font-size: 20px;
}
a.icon-rrss {
    color: #6a7cdf;
    font-size: 24px;
    padding-right: 17px;
}

.btn-primary-footer.btn.btn-lg{
    color: white;
    background-color: #758FEB;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 29px;
    border-radius: 100px;
    border: none;
    transition: transform .3s ease;

}


.btn-second-footer.btn.btn-lg{
    color: #758FEB;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 29px;
    border-radius: 100px;
    border: 1px solid #4b62b5;
    transition: transform .3s ease;
    text-decoration: none;
}


.img-logo-footer{
    vertical-align: baseline;
    width: 227px;
}

.row.col-footer {
    align-items: center;
    border-bottom: 0.1px solid #c3abe2;
}

h6.fw-bold.title-footer {
    font-family: 'Montserrat';
    color: #758fec;
}
a.text-footer-link {
    text-decoration: none;
    color: #212529;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 32px;
}

p.text-footer-link{

    text-decoration: none;
    color: #212529;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 32px;
}

/*MEDIA MOB*/

@media (max-width: 768px) {

  .container.hero {
    margin-top: 0%;
    padding: 0% 4%;
}
  h1.display-5.fw-bold.title-hero {
    font-family: "Montserrat", sans-serif;
    color: #758FEB;
    font-size: 36px;
    padding-right: 11%;
    text-align: left;
}
p.lead.mb-4.bajada-hero {
    text-align: left;
    padding-bottom: 10px;
}

.d-flex.flex-column.flex-md-row.gap-3.justify-content-center.justify-content-md-start {
    width: 100%;
    flex-flow: row !important;
}

.col-12.col-md-6.text-center.img-hero-h {
    margin-top: 24px;
}

/*btn CTA HERO MOB*/
a.btn.btn-outline-primary.btn-second.btn-lg {
    margin-left: 0px;
    padding: none;
}

}